# Usefull Links for reference:
# Allure reports withbehave and pytest
# https://github.com/allure-examples/allure-examples/tree/master/allure-python/.github/workflows
#
# Deploy action
# https://github.com/actions/deploy-pages
# Building and testing Python
# https://docs.github.com/en/actions/tutorials/build-and-test-code/python
# Using custom workflows with GitHub Pages
# https://docs.github.com/en/pages/getting-started-with-github-pages/using-custom-workflows-with-github-pages
# Allure report 
# https://allurereport.org/docs/integrations-github/#_3-set-up-publishing-github-pages

# Other
# https://shinesolutions.com/2024/12/17/generate-allure-reports-from-sharding-in-playwright-using-github-actions

name: Advanced CI Pipeline with Allure Reporting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    python-tests:
        name : Python Tests JUnit and Coverage
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Add src to PYTHONPATH
              run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/src" >> $GITHUB_ENV
            
            - name: Run Test
              if: always()
              run: PYTHONPATH="$(pwd)" pytest --alluredir=allure-results
              continue-on-error: true

            - name: Get Allure history
              uses: actions/checkout@v2
              if: always()
              continue-on-error: true
              with:
                ref: gh-pages
                path: gh-pages

            - name: Allure Report action from marketplace
              uses: simple-elf/allure-report-action@master
              if: always()
                #id: allure-report
              with:
                allure_results: allure-results
                #gh_pages: gh-pages
                #allure_report: allure-report
                allure_history: allure-history

            - name: Deploy report to Github Pages
              if: always()
              uses: peaceiris/actions-gh-pages@v2
              env:
                PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                PUBLISH_BRANCH: gh-pages
                PUBLISH_DIR: allure-history

    TDD-tests:
        name: TDD Tests with Behave
        runs-on: ubuntu-latest
        needs: python-tests

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Run Test
              if: always()
              run: behave --format=allure_behave.formatter:AllureFormatter -o allure-results
              continue-on-error: true

            - name: Get Allure history
              uses: actions/checkout@v2
              if: always()
              continue-on-error: true
              with:
                ref: gh-pages
                path: gh-pages

            - name: Allure Report action from marketplace
              uses: simple-elf/allure-report-action@master
              if: always()
                #id: allure-report
              with:
                allure_results: allure-results
                #gh_pages: gh-pages
                #allure_report: allure-report
                allure_history: allure-history

            - name: Deploy report to Github Pages
              if: always()
              uses: peaceiris/actions-gh-pages@v2
              env:
                PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                PUBLISH_BRANCH: gh-pages
                PUBLISH_DIR: allure-history