name: CI Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Add src to PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/src" >> $GITHUB_ENV

      - name: Generate timestamp for report
        id: timestamp
        run: echo "time=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV

      - name: Run unit tests (pytest) and save JUnit results
        run: |
          mkdir -p reports/junit/${{ env.time }}
          pytest --maxfail=1 --disable-warnings -q --junitxml=reports/junit/${{ env.time }}/pytest.xml

      - name: Run BDD tests with Behave (Allure results)
        run: |
          mkdir -p reports/allure-results/${{ env.time }}
          behave -f allure_behave.formatter:AllureFormatter -o reports/allure-results/${{ env.time }}

      - name: Setup Node (per installare allure-cli)
        uses: actions/setup-node@v4
        with:
          node-version: "16"

      - name: Install Allure CLI (npm)
        run: |
          npm install -g allure-commandline@2.27.2 --no-audit --no-fund
          allure --version

      - name: Generate Allure HTML report (versioned)
        if: always()
        run: |
          mkdir -p reports/allure-report/${{ env.time }}
          allure generate reports/allure-results/${{ env.time }} --clean -o reports/allure-report/${{ env.time }}

      - name: Upload Allure Report as Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-${{ env.time }}
          path: reports/allure-report/${{ env.time }}


