name: CI Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-behave allure-pytest

      - name: Add src to PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/src" >> $GITHUB_ENV

      - name: Run unit tests
        run: pytest --maxfail=1 --disable-warnings -q

      - name: Run BDD tests with Behave
        run: behave -f allure_behave.formatter:AllureFormatter -o allure-results

      - name: Generate timestamp for report
        id: timestamp
        run: echo "time=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV

      - name: Generate Allure HTML report (versioned)
        run: |
          mkdir -p reports/allure-report/${{ env.time }}
          allure generate allure-results --clean -o reports/allure-report/${{ env.time }}

      - name: Upload Allure Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-${{ env.time }}
          path: reports/allure-report/${{ env.time }}


